{% extends 'base.html' %}

{% block title %}
Profile 31337BET
{% endblock %}


{% block body %}
<link rel="stylesheet" href="../static/about.css" type="text/css">
  <h1 class="company-name">БУКМЕКЕРСКАЯ КОМПАНИЯ <strong>31337Bet</strong></h1>
<div class="main-block container-fluid">
<div class="row">
  <div class="col-lg-6">
    <img src="../static/avatars/default.png" alt="company-logo" class="logo-image">
  </div>
  <div class="col-lg-6 info">
  <h4>ФИРМЕННОЕ НАИМЕНОВАНИЕ:</h4>
  <p>Общество с ограниченной ответственностью "ИТМОEBET"</p>
  <h4 class="trademark">ТОВАРНЫЙ ЗНАК: </h4>
  <p class="trademark">WTF</p>
  </div>
</div>
<div class="row description-row">
  <div class="col-lg-12">
    <h4 class="description-h4">БК «31337Bet» предлагает любителям спорта и активным болельщикам качественно
      новый уровень сервиса, а также огромный выбор разнообразных событий.</h4>
  </div>
</div>
<div class="row activity-row">
  <div class="col-lg-4 company-activity">
    <h4>ДЕЯТЕЛЬНОСТЬ КОМПАНИИ</h4>
    <p>Деятельность компании направлена на поддержку
      отечественного спорта и создание новой сферы развлечений. Такой подход к развитию
      и сервису позволил компании стать главным лидером на рынке букмекерских услуг в России.</p>
      <a href="/static/docs/Rules.pdf" alt="">Правила азартных игр, ставок и выплат</a>
  </div>
  <div class="col-lg-6">
    <img src="/static/avatars/default.png" alt="svidetelstvo" class="document">
  </div>
</div>

  </div>





{% endblock %}
