{% extends 'base.html' %}

{% block title %}
Admin 31337BET
{% endblock %}

{% block body %}
    <link href="../static/admin.css" rel="stylesheet" type="text/css">
    <div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form method="POST" action="#" role="form">
						<div class="form-group">
							<h2>Admin control panel</h2>
							<input type="hidden" type="text" name="id" value="1">
						</div>
						<div class="form-group">
							<button id="adminSubmit" type="submit" class="btn btn-info btn-block">Event check in</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="alert alert-danger">
			{% for message in messages %}
				{{ message }}
			{% endfor %}
			</div>
		{% endif %}
		{% endwith %}
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form method="POST" action="#" role="form">
						<div class="form-group">
							<h3>Add event</h3>
							<input type="hidden" type="text" name="id" value="2">
						</div>
						<div class="form-group">
							<p><label class="control-label" for="eventid">Team 1:</label><br>
								<select size="1" name="t1" required>
								<option disabled>Choose team 1</option>
								{% for n in team_list %}
									<option value="{{n[0]}}">{{n[0]}}</option>
								{% endfor %}
							</select></p>
						</div>
						<div class="form-group">
							<p><label class="control-label" for="eventid">Team 2:</label><br>
								<select size="1" name="t2" required>
								<option disabled>Choose team 2</option>
								{% for n in team_list %}
									<option value="{{n[0]}}">{{n[0]}}</option>
								{% endfor %}
							   </select></p>
						</div>
						<div class="form-group">
							<label class="control-label" for="eventid">Time:</label><br>
							<input id="eventtime" name="time" type="datetime-local" required>
						</div>
						<div class="form-group">
							<button id="eventSubmit" type="submit" class="btn btn-info btn-block">Add event</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form method="POST" action="#" role="form">
						<div class="form-group">
							<h3>User-to-admin control</h3>
							<input type="hidden" type="text" name="id" value="3">
						</div>
							<select size="1" name="login" required>
							<option disabled>Select user</option>
							{% for user_name in not_admins %}
								<option value="{{user_name[0]}}">{{user_name[0]}}</option>
							{% endfor %}
						   </select></p>
						<div class="form-group">
							<button id="makeAmdSubmit" type="submit" class="btn btn-info btn-block">Make admin</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form method="POST" action="#" role="form" enctype="multipart/form-data">
						<div class="form-group">
							<h3>Add team</h3>
							<input type="hidden" type="text" name="id" value="4">
						</div>
						<div class="form-group">
							<label class="control-label" for="eventid">Team name</label>
							<input id="teamname" class="form-control" name="name" placeholder="" required>
						</div>
						<div class="form-group">
							<label class="control-label" for="eventid">Avatar:</label>
							<input id="teamavatar" type="file" class="form-control" name="file">
						</div>
						<div class="form-group">
							<button id="teamSubmit" type="submit" class="btn btn-info btn-block">Add team</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form method="POST" action="#" role="form">
						<div class="form-group">
							<h3>Set money to user</h3>
							<input type="hidden" type="text" name="id" value="5">
						</div>
							<select size="1" name="login" required>
							<option disabled>Select user</option>
							{% for user_name in user_list %}
								<option value="{{user_name[0]}}">{{user_name[0]}}</option>
							{% endfor %}
						   </select></p>
						   <div>
							<input type="number" name="amount">
						   </div>
						<div class="form-group">
							<button id="setMoney" type="submit" class="btn btn-info btn-block">Set user money</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
