{% extends 'base.html' %}

{% block title %}
31337BET - Main page
{% endblock %}

{% block body %}
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel" style="margin-left: 0px;">
  <section class="colored-section" id="testimonials">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid" data-interval="5000">
          <img class="testimonial-image" src="../static/images/slider-1-slide-1-1920x671.jpg" alt="">
        </div>
        <div class="carousel-item container-fluid" data-interval="5000">
          <img class="" src="../static/images/slider-1-slide-2-1920x671.jpg" alt="lady-profile">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  <div class="container" style="width: 60%;">
    <h2>Events</h2>
    <hr>          
    <table class="table table-dark" style="color:#000000;">
      <thead>
        <tr>
          <th style="width: 70%; background: rgb(161, 161, 161);">{% block eventname1 %}Football World Cup 2020{%endblock%}</th>
          <th style="width: 100%; background: rgb(161, 161, 161);"></th>
        </tr>
      </thead>
      <tbody style="background: rgb(255, 255, 255); ">
        <tr>
          <td>{% block teamname1 %}Outlaws{% endblock %} VS {% block teamname11 %}LA Knights{% endblock %}</td>
          <td><a id="betln" href="#">Bet coeff: 2.5</a>   <a id="betln" href="#">Bet coeff: 4</a></td>
        </tr>
        <tr>
          <td>{% block teamname2 %}Arsenal{% endblock %} VS {% block teamname21 %}The Fighters{% endblock %}</td>
          <td><a id="betln" href="#">Bet coeff: 2.5</a>   <a id="betln" href="#">Bet coeff: 4</a></td>
        </tr>
        <tr>
          <td>{% block teamname3 %}Nonames{% endblock %} VS {% block teamname31 %}Suckers{% endblock %}</td>
          <td><a id="betln" href="#">Bet coeff: 2.5</a>   <a id="betln" href="#">Bet coeff: 4</a></td>
        </tr>
      </tbody>
    </table>  
    <hr>     
    <table class="table table-dark" style="color:#000000;">
      <thead>
        <tr>
          <th style="width: 70%; background: rgb(161, 161, 161);">{%block eventname2%}Canada Academic Championship{%endblock%}</th>
          <th style="width: 100%; background: rgb(161, 161, 161);"></th>
        </tr>
      </thead>
      <tbody style="background: rgb(255, 255, 255);">
        <tr>
          <td>{% block teamname12 %}Icewing{% endblock %} VS {% block teamname13 %}Bears{% endblock %}</td>
          <td><a id="betln" href="#">Bet coeff: 2.5</a>   <a id="betln" href="#">Bet coeff: 4</a></td>
        </tr>
        <tr>
          <td>{% block teamname22 %}Foxen{% endblock %} VS {% block teamname23 %}Murderers{% endblock %}</td>
          <td><a id="betln" href="#">Bet coeff: 2.5</a>   <a id="betln" href="#">Bet coeff: 4</a></td>
        </tr>
        <tr>
          <td>{% block teamname32 %}Nonames{% endblock %} VS {% block teamname33 %}Suckers{% endblock %}</td>
          <td><a id="betln" href="#">Bet coeff: 2.5</a>   <a id="betln" href="#">Bet coeff: 4</a></td>
        </tr>
      </tbody>
    </table>
    <hr>      
    <table class="table table-dark" style="color:#000000;">
      <thead>
        <tr>
          <th style="width: 70%; background: rgb(161, 161, 161);">{%block eventname3%}Wimbledon championship{%endblock%}</th>
          <th style="width: 100%; background: rgb(161, 161, 161);"></th>
        </tr>
      </thead>
      <tbody style="background: rgb(255, 255, 255);">
        <tr>
          <td>{% block name1 %}Angel White{% endblock %} VS {% block name11 %}Roey Smith{% endblock %}</td>
          <td><a id="betln" href="#">Bet coeff: 2.5</a>   <a id="betln" href="#">Bet coeff: 4</a></td>
        </tr>
        <tr>
          <td>{% block name2 %}Vergil{% endblock %} VS {% block name22 %}Dante{% endblock %}</td>
          <td><a id="betln" href="#">Bet coeff: 2.5</a>   <a id="betln" href="#">Bet coeff: 4</a></td>
        </tr>
        <tr>
          <td>{% block name3 %}Amelia Whatson{% endblock %} VS {% block name33 %}Aoi Kitamura{% endblock %}</td>
          <td><a id="betln" href="#">Bet coeff: 2.5</a>   <a id="betln" href="#">Bet coeff: 4</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <section id="process">
    <div class="container">
        <div class="title_process">
            <h1>Upcoming match</h1>
            <div class="titles_first">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, eveniet.
            </div>
        </div>
        <div class="block">
            <div class="blue">
                <h3 style="background:rgb(161, 161, 161);">{%block eventnam3%}CTF Norway 2021{%endblock%}</h3>
                <div class="container">
                  <div></div>
                </div>
            </div>  
        </div>
    </div>
</section>
{% endblock %}